<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %> 


        <div class="admin-body-div">
          <h2>Welcome Admin!</h2>
          <br>
          <h3>Edit Instructor</h3>
      
    <!-- Display instructors for editing here -->
          <% instructors.forEach(instructor => { %>
              <div>
                  Name: <strong> <%= instructor.firstName %>
                  <%= instructor.lastName %></strong><br>
                  Email: <%= instructor.email %><br>
                  <!-- <%= instructor.courses %><br> -->
                  <div class="course-actions">
                      <a href="/admin/edit/<%= instructor.email %>">Edit</a>
                      <a href="/admin/delete/<%= instructor.email %>">Delete</a>
                  </div>
              </div>
              <br>
          <% }); %>
          <a href="/admin/add-instructor">Add Instructor</a>
      </div>
      <br><br>
      <h3>Edit Courses</h3>
      <!-- Display all courses for editing here -->
      <% courses.forEach(course => { %>
          <div>
              <%= course.courseID %><strong> <%= course.name %></strong><br>
              <%= course.description %><br>
              Subject: <%= course.subject %><br>
              Credits: <%= course.credits %><br>
              Created by: <%= course.createdby %><br>
              <div class="course-actions">
                  <a href="/instructor/edit/<%= course.name %>">Edit</a>
                  <a href="/instructor/delete/<%= course.name %>">Delete</a>
              </div>
          </div>
          <br>
      <% }); %>

    </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>