<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %> 

        <!-- Display courses here -->
        <div class="courses">
          <h2>Welcome Admin!</h2>
          <br>
          <h3>Edit Faculty</h3>
      
          <% instructors.forEach(instructor => { %>
              <div>
                  Name: <strong> <%= instructor.firstName %>
                  <%= instructor.lastName %></strong><br>
                  Email: <%= instructor.email %><br>
                  <!-- <%= instructor.courses %><br> -->
                  <div class="course-actions">
                      <a href="/admin/edit/<%= instructor.email %>">Edit</a>
                      <a href="/admin/delete/<%= instructor.email %>">Delete</a>
                  </div>
              </div>
              <hr>
          <% }); %>
          <a href="/admin/add-instructor">Add Instructor</a>
      </div>
    
    </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>