<!DOCTYPE html>
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %> 
    <h2>Course Offerings</h2>
    <div class="courses">
        
    
        <% if(courses.length > 0) { %>
        <% courses.forEach(course => { %>
            <div class="class">
                <strong> <%= course.courseID %></strong><br>
                <%= course.name %><br>
                Subject: <%= course.subject %><br>
                Credits: <%= course.credits %><br>
                <button onclick="expandView('<%= course.courseID %>', '<%= course.name %>', '<%= course.description %>', '<%= course.subject %>', '<%= course.credits %>', '<%= course.createdby %>')">View</button>
            </div>
            
        <% }); %>
        <% } else { %>
            <p>There are no courses to display :(</p>
        <% } %> 
    
            </div>
            <div id="courseView" class="courseView" style="display: none;">
                <h2 id="courseTitle">Course info</h2>
                <div id="courseDetails"></div>
                <button onclick="exitView()">Close</button>
                <% if (authType === 'student') { %>
                    <button onclick="register()">Register</button>
                <% } %>
                
            </div>
            <script>
                let currentCourseID;
                function expandView(courseID, name, description, subject, credits, createdby) {
                    currentCourseID = courseID;
                    document.getElementById('courseTitle').innerText = `${courseID}`;
                    document.getElementById('courseDetails').innerHTML = `
                        <p class="name"><span class="boldType">Course Name: </span>${name}</p>
                        <p class="description"><span class="boldType">Course Description: </span>${description}</p>
                        <p class="subject"><span class="boldType">Subject: </span>${subject}</p>
                        <p class="credits"><span class="boldType">Credits: </span>${credits}</p>
                        <p class="createdby"><span class="boldType">Course Instructor: </span>${createdby}</p><br>
                    `;
                    document.getElementById('courseView').style.display = 'block';
                }
                function exitView() {
                    document.getElementById('courseView').style.display = 'none';
                }
                async function register() {
                    try {
                        const response = await fetch('/students/registerCourse', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ courseID: currentCourseID }),
                        });

                        const data = await response.json();
                        if (data.success){
                            window.location.href = '/students';
                        }
                    } catch (err) {
                        console.error('Registration failed: ', err);
                    }
                }
              
          </script>
  <%- include('./partials/footer.ejs') %>
</body>
