<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="courses">
        <h2>Course Offerings</h2>
    
        <% if(courses.length > 0) { %>
        <% courses.forEach(course => { %>
            <div>
                <%= course.courseNum %><strong> <%= course.title %></strong><br>
                <%= course.description %><br>
                Subject: <%= course.subject %><br>
                Credits: <%= course.credits %>
            </div>
            <hr>
        <% }); %>
        <% } else { %>
            <p>There are no courses to display :(</p>
        <% } %> 
    
      </div>
  <%- include('./partials/footer.ejs') %>
</body>
