<!-- deleteInstructor.ejs -->

<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="delete-instructor-body-div">
        <h2>Delete Instructor</h2>
    
        <!-- Display instructor details and confirmation message -->
        <div>
            <strong>Instructor Email: <%= instructor.email %></strong><br>
            First Name: <%= instructor.firstName %><br>
            Last Name: <%= instructor.lastName %><br>
        </div>
    
        <form action="/admin/delete/<%= instructor.email %>" method="POST" class="add-edit-delete-forms">
            <p>Are you sure you want to delete this instructor?</p>
            <button type="submit">Yes, Delete Instructor</button> <button onclick="window.history.back()">Cancel</button>
    </div>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>