<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="delete-courses-body-div">
        <h2>Delete Course</h2>

        <!-- Display course details and confirmation message -->
        <div>
            <strong><%= course.name %></strong><br>
            <%= course.description %><br>
            Subject: <%= course.subject %><br>
            Credits: <%= course.credits %><br>
            Created By: <%= course.createdby %>
        </div>
    
        <form action="/instructor/delete/<%= course.name %>" method="POST" class="add-edit-delete-forms">
            <p>Are you sure you want to delete this course?</p>
            <button type="submit">Yes, Delete Course</button> <button onclick="window.history.back()">Cancel</button>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>