<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="edit-course-body-div">
        <h2>Edit Course</h2>

        <!-- Form for editing the course -->
        <form action="/instructor/edit/<%= course.name %>" method="POST" class="add-edit-delete-forms">
            <label for="courseID">Course Number:</label>
            <input type="text" id="courseID" name="courseID" value="<%= course.courseID %>" required>
        
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="<%= course.name %>" required>
        
            <label for="description">Description:</label>
            <textarea id="description" name="description" required><%= course.description %></textarea>
        
            <label for="subject">Subject Area:</label>
            <input type="text" id="subject" name="subject" value="<%= course.subject %>" required>
        
            <label for="credits">Credits:</label>
            <input type="number" id="credits" name="credits" value="<%= course.credits %>" required>
        
            <label for="createdby">Created By:</label>
            <input type="text" id="createdby" name="createdby" value="<%= course.createdby %>" required>
        
            <button type="submit">Update Course</button> <button onclick="window.history.back()">Cancel</button>
        </form>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>