<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="edit-instructor-body-div" >
        <h2>Edit Instructor</h2>

        <!-- Form for editing the instructor -->
        <form action="/admin/edit/<%= instructor.email %>" method="POST" class="add-edit-delete-forms">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" value="<%= instructor.firstName %>" required>
            
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" value="<%= instructor.lastName %>" required>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="<%= instructor.email %>" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required >
            
            <button type="submit">Update Instructor</button> <button onclick="window.history.back()">Cancel</button>
        </form>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>