<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %> 
        <!-- Display courses here -->
        <div class="courses">
          <h2>Welcome Faculty!</h2>
          <br>
          <h3>Edit Courses</h3>
      
          <!-- Display courses here -->
          <% courses.forEach(course => { %>
              <div>
                  <strong><%= course.title %></strong><br>
                  <%= course.description %><br>
                  Subject: <%= course.subject %><br>
                  Credits: <%= course.credits %>
                  <div class="course-actions">
                      <a href="/faculty/edit/<%= course.title %>">Edit</a>
                      <a href="/faculty/delete/<%= course.title %>">Delete</a>
                  </div>
              </div>
              <hr>
          <% }); %>
      
          <!-- Add a link to the "Add Course" page -->
          <a href="/faculty/add-course">Add Course</a>
      </div>
    
    </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>